/* Style sheet created for index.html, about.html in the yhpf website project */


/* STYLING BODY */
html{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: helvetica, arial, veranda, tahoma;
	color: #666666;
}


header{
	margin-bottom: 60px;
}

h1{
	font-family: 'Abel', helvetica, arial, veranda, tahoma;
	font-size: 30px;
}

a:link {
  	color: #666666;
    text-decoration: none;
}

a:visited {
  	color: #666666;
    text-decoration: none;
}

a:hover {
  	color: #006600;
  	text-decoration: none;
}

a:active {
  	color: #000000;
  	text-decoration: none;
}

/* Style the yhpf text */

#headertext a{
	text-decoration: none;
	color: #006600;
	font-size: 18px;
}

#headertext p{
	margin: 0px;
	font-family: 'Abel', helvetica, arial, veranda, tahoma;
}

/* Styling the nav bar */
.fixed-nav-bar {
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
  	height: 60px;
  	background-color: #FFFFFF;
}

/* Style nav bar list */
nav ul {
	text-align: left;
	list-style: none; 
	padding: 0px;
	margin-left: 7%;
}

nav li {
	display: inline-block;
}

/* style nav bar links */
nav a{
	text-transform: uppercase;
	text-decoration: none;

	font-family: 'Abel', helvetica, arial, veranda, tahoma;
	font-size: 18px;
	font-weight: normal; 

	display: inline-block;
	margin: 5px 45px 5px 0px;
}

/* More styling of nav bar links */
nav a:link {
  color: #666666;
}

nav a:visited {
  color: #666666;
}

nav a:hover {
  color: #006600;
  text-decoration: underline;
}

nav a:active {
  color: #000000;
}


/* STYLING BODY SECTION */

/* Hisspitch */

section#hisspitch{
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 7%;
	padding-right: 15%;

 	height: 100%;
}

section#hisspitch div{
 	background-color: #FFFFFF;

 	padding:3%;
}

section#hisspitch p {
	margin: 0px;
	margin-right: 15px;

	font-family: 'Abel', helvetica, arial, veranda, tahoma;
	font-size: 100px;
	color: #000000;

	height: 100%;
	line-height: 100%; 
	text-align: left;
	font-style: italic;
}

/* Image */

.bild{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 0%;
	padding-right: 0%;

 	height: 100%;

 	background-color: #666666;
}

img#main-image{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width:100%;
}

/* About */

section#about{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 7%;
	padding-right: 7%;

 	height: 100%;

 	background-color: #CCCCFF;
}

section#about h1{
	margin-top: 0px;
	margin-bottom: 5px;
}

section#about p {
	margin: 0px;
	margin-right: 15px;

	height: 100%;
	line-height: 140%; 
}

section#about img{
	border: none;
}

.flex-container{
	display: flex;
}

/* Resume */

section.resume{

}

section.resume h1{
	margin-top: 0px;
	margin-bottom: 5px;
}

section.resume p {
	margin: 0px;
	margin-right: 15px;

	height: 100%;
	line-height: 140%; 
}

#education{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 7%;
	padding-right: 7%;

 	height: 100%;

 	background-color: #E6E6E6;
}

#education p{
	width:50%;
}

#work{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 7%;
	padding-right: 7%;

 	height: 100%;

 	background-color: #FFFFFF;
}

#work p{
	width:50%;
}

#work ul{
	width:45%;
}

#skills{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 7%;
	padding-right: 7%;

 	height: 100%;

 	background-color: #E6E6E6;
}

.skills td{
	padding-bottom:5px;
	padding-top:5px;
	padding-right:45px;

	font-family: 'Abel', helvetica, arial, veranda, tahoma;
	font-size: 25px;
}

.resume-place{
	font-weight: bold;
}

.resume-info{
	font-style:italic;
}

.resume-title{
	font-style:italic;	
}

.years{
	font-size: 14px;
}

/* Portfolio */

section#portfolio{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 7%;
	padding-right: 7%;

 	height: 100%;

 	background-color: #CCCCFF;
}

section#portfolio h1{
	margin-top: 0px;
	margin-bottom: 5px;
}

section#portfolio p {
	margin: 0px;
	margin-right: 15px;

	height: 100%;
	line-height: 140%; 
}

/* STYLING FOOTER */

footer{
	background-color: #FFFFFF; 
	color: #666666;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 7%;
	padding-right: 7%;

	height: 30px;
}


/* Placing of copy right text and social media links */
div.copyright{
	display: inline-block;
	float: left;
	line-height: 30px;
}

div.social{
	display: inline-block;
	float: right;
}

/* Styling links in footer */
footer a{
	text-decoration: none;
	font-weight: bold;
}

footer a:link {
  color: #006600;
}

footer a:visited {
  color: #006600;
}

footer a:hover {
  color: #000000;
}

footer a:active {
  color: #666666;
}

/* Styling social media logo links */
.linkedin{
	background:url(../img/linkedin-g.png) no-repeat;
	width: 30px;
	height:30px;
	display: inline-block;
}

.linkedin:hover {
    background: url("../img/linkedin.png") no-repeat;
}

.github{
	background:url(../img/github-g.png) no-repeat;
	width: 30px;
	height:30px;
	display: inline-block;
}

.github:hover {
    background: url("../img/github.png") no-repeat;
}

.medium{
	background:url(../img/medium-g.png) no-repeat;
	width: 30px;
	height:30px;
	display: inline-block;
}

.medium:hover {
    background: url("../img/medium.png") no-repeat;
}

.email{
	background:url(../img/email-g.png) no-repeat;
	width: 30px;
	height:30px;
	display: inline-block;
}

.email:hover {
    background: url("../img/email.png") no-repeat;
}

/* STYLING Hard Lines */
hr{
	color:#666666;

	margin-right: 50px;
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}